.login-logo{
	max-height: 100px;	
}
.btn-wp{
    margin-left: 4px;
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;	
}
.btn-wp:hover{
	border-color: #008ec2;
    background: #00a0d2;
    color: #fff;	
}